torch==2.4.0
peft==0.14.0
trl==0.15.2
transformers==4.50.0
datasets==3.3.2
accelerate==1.4.0
evaluate==0.4.3
bitsandbytes==0.45.3
wandb==0.17.4
deepspeed==0.15.4
sentence-transformers==3.4.1
langchain==0.3.19
langchain-community==0.3.18
langchain-huggingface==0.1.2
langchain-openai==0.3.7
langchain-text-splitters==0.3.6
langchain-qdrant==0.2.0
pymupdf==1.25.3 
pymupdf4llm==0.0.17
qdrant-client==1.13.3
faiss-cpu==1.10.0